{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tvshow.title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
        {% include 'films/films_header.html' %}
    </header>
    <div>
        <h2>{{ object.title }}</h2>
        <p>{{ object.description }}</p>
        <p>{{ object.date_filmed }}</p>
        <p>{{ object.episodes_quantity }}</p>
        <p>{{ object.age_limit }}</p>
        <p>{{ object.review }}</p>
        <img class="show-image" src="{{ object.image }}" alt="">
    </div>
    <div>
        <h2>TvActors:</h2>
        <ul>
        {% for i in object.tvactors.all %}
            <li class="show">
                <h3>{{ i.name }}</h3>
                <p>{{ i.age }}</p>
                <p>{{ i.gender }}</p>
                <img class="show-image" src="{{ i.image }}" alt="">
            </li>
        {% endfor %}
        </ul>
    </div>
<div>
      <form action="/shows/{{ object.pk }}/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add comment" />
        </form>
    </div>
    <div>
        <h2>Comments: </h2>
        <ul>
            {% for i in object.comments_shows.all %}
                <li>
                <h3>{{ i.comment }}</h3>
                <p>{{ i.date_added }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
