{% load static %}
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<div>
    <span class="cast_button"><a href="/cast/">Cast</a></span>
    <span class="character_button"><a href="/character/">Character</a></span>
    <span class="tvactor_button"><a href="/tvactor/">TvActor</a></span>
    <span class="films_button"><a href="/films/">Films</a></span>
    <span class="anime_button"><a href="/anime/">Anime</a></span>
    <span class="shows_button"><a href="/shows/">TvShow</a></span>
</div>